fastapi==0.115.14
uvicorn==0.35.0
google-genai==1.32.0
websockets==15.0.1
python-dotenv==1.1.1
python-multipart==0.0.20
httpx==0.28.1
google-api-core[grpc]==2.28.1
grpcio==1.76.0
grpcio-status==1.76.0
protobuf==6.33.0
# RAG
langchain-community==0.3.27
langchain-core==0.3.72
langchain-text-splitters==0.3.9
langchain-chroma==0.2.5
chromadb==1.0.20
pypdf==5.9.0
python-docx==1.2.0
docx2txt==0.9
pandas==2.3.2
openpyxl==3.1.5
# Chat history
firebase-admin==7.1.0
